*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Clash Grotesk', sans-serif;
    letter-spacing: -0.05em !important;
    background-color: #FFF9F0 !important;
    text-decoration: none;
}
img{
    object-fit: cover !important;
}
/*
div h1{
    font-weight: 600;
    font-size: 130px;
    line-height: 96%;
     or 135px 
    
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #000000;
}*/

header{
    display: flex;
    height: 110px;
    width: 100%;
}
header nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.navigation{
    display: flex;
    align-items: center;
}

.brand img{
    height: 80px;
}
nav .navigation ul{
    display: flex;
    list-style: none;
    margin-right: 100px;
}

nav .navigation ul li a{
    text-decoration: none;
    margin: 0 10px;
}

.socialMedia{
    display: flex;
}
.social{
    margin: 0px 10px;
}

.items{
    font-weight: 600;
    font-size: 16px;
    line-height: 78.6%;
    text-transform: uppercase;
    color: #000000;
    flex-grow: 0;
}


/* navigation section end  */

.headLine{
    text-align: center;
    margin-top: 80px;
}

.headLineItem h1{
    font-weight: 600;
    font-size: 141px;
    line-height: 96%;
    /* or 135px */
    
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: capitalize;
    
    color: #000000;
}

.headLineItem h2{
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 96%;
    /* or 23px */

    text-align: center;
    letter-spacing: -0.09em;
    text-transform: capitalize;

    color: #000000;
}

.headLineItem button{
    text-decoration: none;
    margin-top: 40px;
    width: 173px;
    height: 63px;
    background: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 78.6%;
    /* identical to box height, or 13px */
    text-align: center;
    text-transform: capitalize;
}

.buttonMint{
    text-decoration: none !important;
    color: white !important;
}
/* head line end  */


.mainAbout{
    height: 475.65px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artical{
    width: 500px;
    height: auto;

}

.about{
    margin: 0px 50px;
}
.mainAbout .about h6{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 96%;
    /* or 23px */
    letter-spacing: -0.06em;
    text-transform: capitalize;
    color: #000000;
    
}

.mainAbout .about h1{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 93.6%;
    /* or 45px */
    letter-spacing: -0.05em;
    text-transform: capitalize;
    color: #000000;
}

.mainAbout .about p{
    box-sizing: border-box;
    width: 494px;
    height: 151px;
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 147.6%;
    /* or 24px */
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #252525 !important;
    
}
.mainAbout .about #readMore{
    border: 2px solid #000000;
    padding: 15px 20px;
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 78.6%;
    /* identical to box height, or 13px */
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: transparent;
    }

.slider img{
    width: 400px;
    height: 400.65px;
}
.wosame{
    width: 400px;
    height: 400.65px; 
}



